<svelte:head>
  <title>About | Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</svelte:head>


  <div class="app-header">
    <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
  </div>


<div class="ui-container -med _spaced-max">

  <h1 class="ui-heading _text-center">404 : Uh oh!</h1>

  <div class="_spaced-med _text-center">

    <p><strong>We can't seem to find this page right now.</strong></p>

  </div>

</div>
