<svelte:head>
  <title>About | Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</svelte:head>


  <div class="app-header">
    <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
  </div>

<div class="ui-container -med _padded-med _spaced-med">

  <h1 class="ui-heading">Why Typereel?</h1>

  <p>Hey, I'm Simon, the creator of Typereel.</p>

  <p>At various points in my quasi-professional life as a designer I've been in the position of trying to find inspiration for design-related projects. When it comes to typography specifically, the process of finding inspiration has historically been a bit disjointed for me, and one aspect of sourcing inspiration is actually identifying typography; in most cases in the form of fonts that I may want to use in the future.</p>

  <p>There are tools (with varying degrees of accuracy depending on the composition) that will help you do this in some cases, or of course you can attempt to contact the original creator in the hope they'll provide enlightenment.</p>

  <p>There are also existing platforms with a committed base of type enthusiasts who will most likely be able to help - the subreddit <a href="https://www.reddit.com/r/identifythisfont/">/r/identifythisfont</a> is where I would often end up.</p>

  <p>Despite having these tools and communities available to help, there wasn't anywhere that felt like a quick and easy way to get inspiration for the use of typography. The renowned <a href="https://fontsinuse.com/">Fonts In Use</a> is a great resource for learning about the use of typography, but I still felt there was space for something that made it even quicker to browse and source fonts as a designer.</p>

  <h2 class="ui-heading _spaced-t-max">Get with the Times, New Roman!</h2>

  <div class="_spaced-med">

    <p>So, I decided to start cataloguing the use of type for myself in the form of a reel.</p>

    <p>As time went on, I figured others might find it useful, and so I used what little development knowledge I have to build a basic means of registering and contributing.</p>

    <p>I occasionally chip away at Typereel, but if it is something you'd like to see grow then please <a href="/register">jump in</a>, use it, and provide valuable feedback in order for me to improve and add features.</p><p>Feel free to request features and report bugs <a href="https://feedback.userreport.com/8061712f-1dd3-41b4-a798-01c14ddb3e43/#ideas/popular" target="_blank">here</a>.</p>

    <p>Equally if you'd like to contribute to development or be actively involved in working on Typereel itself then feel free to send me an email at <a href='&#109;a&#105;lto&#58;sim%6&#70;n%4&#48;&#116;y&#112;er&#37;&#54;5e&#108;&#46;&#105;%&#54;F'>&#115;i&#109;o&#110;&#64;t&#121;&#112;e&#114;eel&#46;io</a>. I'd love to hear from you!</p>

    <p>Thanks for stopping by,</p>

    <p><strong>Simon</strong></p>

  </div>

</div>
