<script>
  export let font;
</script>

<svelte:head>
  <title>Fonts | Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</svelte:head>

<div class="app-header">
  <div class="message">
    <a href="/">&lsaquo; Back to the reel</a>
  </div>
</div>

<div class="ui-container -med _padded-med _spaced-med">

  <h1 class="ui-heading _text-center">{font.name}</h1>

  <div class="_spaced-med">

    <div class="grid">{font.name}</div>

  </div>

</div>
