<svelte:head>
  <title>Typereel | A repository of type in the real world</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">  <link rel="stylesheet" href="/css/main.css" />
</svelte:head>

<script>
  import MainHero from "../src/components/ssr/MainHero.svelte";
</script>


<div class="ui-hero-plus-nav">
  <div class="app"></div>
  <div class="_padded-lr-med">
    <MainHero title="An ever-growing showcase of type" />
  </div>

  <footer class="footer ui-backed -dark">
    <div class="container _text-center _padded-min">
      &copy; Typereel 2021
    </div>
  </footer>

</div>

<!-- <div class="ui-backed -dark">

  <div class="container _text-center _padded-tb-med">
    <h2>Curated by the community</h2>
    <p>Seen some type you want on the reel? No problem. Register with Typereel and start contributing specimens.</p>
  </div>

</div> -->
