<script>
  import Header from "../src/components/ssr/Header.svelte";
  import Pagination from "../src/components/ssr/Pagination.svelte";
  import Footer from "../src/components/ssr/Footer.svelte";

  export let pageNumber, pageLength, username, role;
</script>

<svelte:head>
  <title>Typereel | Typography inspiration for your next project</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</svelte:head>

<div class="app"></div>

<Pagination type="inspiration" activePage={pageNumber} {pageLength} />

<Footer />
