<svelte:head>
  <title>Login | Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</svelte:head>


  <div class="app-header">
    <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
  </div>


<div class="ui-container -slim _spaced-max _padded-lr-med">

  <h1 class="ui-heading _text-center">Login</h1>

  <div class="_spaced-med _text-center">Login to Typereel to submit specimens, comment and contribute to font identification.</div>

  <div class="_spaced-min _text-center"><em>Don't have an account? <a href="/register">Register</a></em></div>

  <div class="message">{message}</div>

  <form action="/login" method="post" class="ui-container -narrow _spaced">
    <div class="ui-form">
      <div class="form-group _spaced-med">
          <label class="label">Username:</label>
          <input type="text" name="username">
      </div>
      <div class="form-group _spaced-med">
          <label class="label">Password:</label>
          <input type="password" name="password">
      </div>
      <div class="form-group _spaced-max">
        <div>
          <input type="submit" value="Log In" class="ui-button">
        </div>
      </div>
    </div>
  </form>

</div>

<script>
  export let message;
</script>
