<svelte:head>
  <title>Typereel | Privacy Policy</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</svelte:head>

<div class="app-header">
  <div class="message"><a href="/register">&lsaquo; Back to registration</a></div>
</div>

<div class="container -slim _spaced-med">

  <h1>Typereel's Privacy Policy</h1>

  <p>Currently, the personal information Typereel stores are the account credentials above, and any contributions you choose to make to the site in the form of specimen submissions, suggestions and comments.</p>
  <p>We require the use of functional cookies in your browser that determine your logged in state when browsing the site, and <strong>that's it</strong>.</p>
  <p>We currently don't track or collect analytical data from our users on Typereel, but in order to collect user feedback we display links to a third party service called <a href="https://www.userreport.com/" target="_blank">UserReport</a> - which is essentially a feedback forum. Please be aware that when you visit UserReport you're bound to their own <a href="https://privacy.userreport.com/en-GB/for-users/privacy-policy" target="_blank">Privacy Policy</a>.</p>
  <p>Typereel uses <a href="https://www.mailjet.com/" target="_blank">Mailjet</a> to send email notifications when you voluntarily subscribe to specimen updates on the site. We also reserve the right to contact users directly via email for any necessary account-related communication.</p>
  <p>If you would like to receive the occasional email with updates on Typereel content and how the site is improving etc. you can opt in to a mailing list (stored within Mailjet) below. You're free to unsubscribe at any time.</p>
  <p>If at any point these requirements change you will be notified by email. You are free to request that your account be deactivated at any time, in which case data that you have contributed to the reel will be maintained, but made anonymous.</p>

</div>
