<script>
  import Header from "../src/components/ssr/Header.svelte";
  import Pagination from "../src/components/ssr/Pagination.svelte";
  import Footer from "../src/components/ssr/Footer.svelte";

  let duoswitch = {
    feature: true,
    links: [
      {
        label: "Inspiration",
        url: "/inspiration"
      },
      {
        label: "Font ID",
        url: "/fontid",
        active: true
      }
    ]
  };

  export let pageNumber, pageLength, username;
</script>

<svelte:head>
  <title>Typereel | A collection of type in the wild</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</svelte:head>

<div class="app" />

<Pagination type="fontid" activePage={pageNumber} {pageLength} />

<Footer />