<svelte:head>
  <title>Register | Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</svelte:head>

<style>
/* TODO Work out the best way to manage stripping border-radius */
@media (max-width: 500px) {
  .flush {
    border-radius: 0;
  }
}
</style>

<div class="app-header">
  <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
</div>

<div class="ui-container _spaced _padded-mob">

  {#if message != ""}
    <div class="ui-container -narrow">
      {#each message as error}
        <div class="ui-bar -error _spaced-t-med">{error.message}</div>
      {/each}
    </div>
  {:else}
    <div class="ui-container -slim _spaced-med">

      <h1 class="ui-heading _text-center">Register</h1>

      <div class="ui-panel _spaced-min flush">
        <p>Register on Typereel to comment, contribute specimens and help to identify type.</p>
        <p>As it stands, Typereel is in public beta and has a limited feature set. I'd love to know what features you think might be useful, or whether existing features can be improved. Feel free to post feedback <a href="https://feedback.userreport.com/8061712f-1dd3-41b4-a798-01c14ddb3e43/#ideas/popular" target="_blank">here</a> any time!</p>
      </div>

    </div>
  {/if}

  <form class="ui-form _spaced-med" action="/register" method="POST">
    <div class="ui-container -narrow ui-form-group _spaced-med">
      <label class="label">Username</label>
      <input class="input -text" type="text" name="username" placeholder="e.g. mickeymouse" required>
    </div>
    <div class="ui-container -narrow ui-form-group _spaced-med">
      <label class="label">Password</label>
      <input class="input -text" type="password" name="password" required>
    </div>
    <div class="ui-container -narrow ui-form-group _spaced-med">
      <label class="label">Email Address</label>
      <input class="input -text" type="email" name="email" placeholder="e.g. mickey@disneyland.com" required>
    </div>
    <div class="ui-container -narrow ui-form-group _spaced-med">
      <div class="_spaced-tb-med">
        <input class="input -checkbox" type="checkbox" name="privacy" value="Agree" required> I agree to Typereel's <a href="/privacy">Privacy Policy</a>.
      </div>
      <div class="_spaced-t-med">
        <input class="input -checkbox" type="checkbox" name="mailing_list" value="Agree"> Yes, I'd like to receive email updates
      </div>
    </div>
    <div class="ui-container -narrow">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </div>
  </form>

</div>

<script>
  export let message;
</script>
