<script>
  export let returnToUrl, data, username;
</script>

<svelte:head>
  <title>Typereel | A specimen of {data.name ? data.name : 'type'}</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</svelte:head>

<div class="app"></div>
