<svelte:head>
  <title>Add a specimen to Typereel</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</svelte:head>

<div class="app-header">
  <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
</div>

<div class="ui-container -narrow">

  {#if errorMessage}
    <div class="ui-container -narrow">
      <div class="ui-bar -error">{errorMessage}</div>
    </div>
  {/if}

  <div class="app"></div>

</div>

<script>
  export let errorMessage;
</script>
