<svelte:head>
  <title>Thanks for your contribution</title>
  <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL@-4,825,1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</svelte:head>

<div class="app-header">
  <div class="message"><a href="/">&lsaquo; Back to the reel</a></div>
</div>

<div class="ui-container">

  <div class="_spaced-max _text-center">
    <h1>Thanks for submitting to Typereel</h1>
    <p>May you find your worth in the waking world.</p>
    <p><a href="/fontid">&lsaquo; Head back</a> to the reel</p>
  </div>

</div>
