<script>
  export let role, specimenId;

  function moveSpecimenToInspirationReel() {
    fetch("/specimen/move", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      method: "POST",
      body: JSON.stringify({ specimenId: specimenId })
    }).then(
      res => {
        console.log(res);
      },
      function() {
        console.log("something went wrong");
      }
    );
  }
</script>

{#if role && role == 'admin'}
  <div class="admin-bar">
    <div class="ui-container">
      <button class="ui-button" on:click={moveSpecimenToInspirationReel}>
        Move {specimenId} to inspiration reel
      </button>
    </div>
  </div>
{/if}
