<script>
  import Reel from "./Reel.svelte";
  import CommentThread from "./CommentThread.svelte";
  import SubmissionForm from "./SubmissionForm.svelte";
  import Showcase from "./Showcase.svelte";
  import Lightbox from "./Lightbox.svelte";
  import AdminBar from "./AdminBar.svelte";
  import MainNav from "./MainNav.svelte";
  import DuoSwitch from "./DuoSwitch.svelte";

  export let page,
    returnToUrl,
    staticData,
    lightboxIsActive,
    lightboxContent,
    role;

  function toggleLightbox(event) {
    lightboxIsActive = !lightboxIsActive;
    if (event.detail) {
      lightboxContent = event.detail;
    }
  }

  let duoswitchData = {
    feature: true,
    links: [
      {
        label: "Inspiration",
        url: "/inspiration",
        active: page != 'reel'
      },
      {
        label: "Font ID",
        url: "/fontid",
        active: page == 'reel'
      }
    ]
  };
  
</script>

{#if page == 'home'}
  <MainNav {returnToUrl} />
{/if}

{#if page == 'reel'}
  <MainNav {returnToUrl} />
  <div class="ui-container -narrow _spaced-med">
    <DuoSwitch data={duoswitchData} />
  </div>
  <Reel reelData={staticData} {page} />
{/if}

{#if page == 'inspiration'}
  <MainNav {returnToUrl} />
  <div class="ui-container -narrow _spaced-med">
    <DuoSwitch data={duoswitchData} />
  </div>
  <Reel reelData={staticData} {page} />
{/if}

{#if page == 'specimen' || page == 'feature'}

  <MainNav {returnToUrl} />

  <Showcase data={staticData} />

  <CommentThread
    commentData={staticData}
    {returnToUrl}
    on:fireLightbox={toggleLightbox} />
  <Lightbox
    {lightboxIsActive}
    {lightboxContent}
    on:fireLightbox={toggleLightbox} />
{/if}

{#if page == 'submission'}
  <SubmissionForm />
{/if}

{#if page == 'specimen'}
  <AdminBar {role} specimenId={staticData._id} />
{/if}
