<div class="_spaced-tb-med">
  <form action="/comments/addComment/{specimenType}/{specimenId}" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
      <label for="comment" class="label">Comment</label>
      <textarea name="comment" id="comment" cols="30" rows="10" class="textarea _padded-min">
      </textarea>
    </div>
    <div class="form-group _spaced-med">
      <input type="submit" value="Submit Comment" class="ui-button">
    </div>
  </form>
</div>
<script>
  export let specimenType;
  export let specimenId;
</script>
