<div class="ui-container -slim _spaced-med _padded-lr-min">

  <h2 class="_text-center">Comments</h2>

  <div class="notification-switch _spaced-tb-min">
    Get notified of updates
      <button class="ui-button -unstyled" on:click={() => handleSubscribe(user, false)}><svg class='toggle {userIsSubscribed ? '-active' : ''}' width='35' height='22.3' viewBox='0 0 35 23' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'><path fill='none' d='M0 0h35v22.273H0z'/><clipPath id='a'><path d='M0 0h35v22.273H0z'/></clipPath><g clip-path='url(#a)'><path d='M23.864 22.273H11.136C5.027 22.273 0 17.246 0 11.136 0 5.076 4.948.08 11.136 0h12.728C29.973 0 35 5.027 35 11.136c0 6.109-5.027 11.137-11.136 11.137zm0-19.091H11.136c-4.364 0-7.954 3.591-7.954 7.954 0 4.364 3.591 7.955 7.954 7.955h12.728c4.363 0 7.954-3.591 7.954-7.955 0-4.363-3.59-7.954-7.954-7.954z'/><path class='bg' d='M23.864 3.182H11.136c-4.363 0-7.954 3.591-7.954 7.954 0 4.364 3.591 7.955 7.954 7.955h12.728c4.363 0 7.954-3.591 7.954-7.955 0-4.363-3.591-7.954-7.954-7.954z' fill='none'/><path class='switch' d='M11.136 15.909c-2.618 0-4.772-2.154-4.772-4.773 0-2.618 2.154-4.772 4.772-4.772 2.619 0 4.773 2.154 4.773 4.772 0 2.569-2.074 4.692-4.773 4.773z'/></g></svg>
      </button>
  </div>

  {#if specimenData.comments && specimenData.comments.length}
    {#each specimenData.comments as comment}
      {#if comment.type == 'hand'}
        <div class="comment -similar _padded _spaced-min _text-center">
          <strong>{comment.user}</strong> suggested this contains hand lettering
        </div>
      {:else if comment.type == 'similar'}
        <div class="comment -similar _padded _spaced-min _text-center">
          <strong>{comment.user}</strong> suggested this is similar to <a href="{comment.url}" target="_blank">{comment.body}</a>
        </div>
      {:else if comment.type == 'match'}
        <div class="comment -match _padded _spaced-min _text-center">
          <strong>{comment.user}</strong> suggested this could be <a href="{comment.url}" target="_blank">{comment.body}</a>
        </div>
      {:else if comment.type == 'font'}
        <div class="comment -font _padded _spaced-min _text-center">
          <strong>{comment.user}</strong> identified this as <a href="{comment.url}" target="_blank">{comment.body}</a>
        </div>
      {:else}
        <div class="comment -default _padded">
          <div class="user _spaced-b-min">
            <strong>{comment.user} says:</strong>
          </div>
          {@html comment.body}
        </div>
      {/if}
    {/each}
  {:else}
    <div class="intro _text-center">There are no comments yet...</div>
  {/if}

  {#if specimenData.name == "Handwritten"}
    <div class="comment -font _padded _spaced-min _text-center">
      <strong>simon</strong> identified this as handwritten type
    </div>
  {/if}

  {#if user && context == "specimens"}

    <div class="ui-tabs _spaced-t-med">
      <button class="ui-button -outline {activeTab == 'comment' ? '-active' : ''}" on:click={(e) => switchTab(e)}>Comment</button>
      <button class="ui-button -outline {activeTab == 'suggestion' ? '-active' : ''}" on:click={(e) => switchTab(e)}>Make a suggestion</button>
    </div>

    <div class="tab-section {activeTab == 'comment' ? '-active' : ''}">
      <CommentForm specimenId={specimenId} specimenType="{context}" />
    </div>

    <div class="tab-section {activeTab == 'suggestion' ? '-active' : ''}">
      <SuggestionForm specimenId={specimenId} specimenType={context} />
    </div>

  {:else if user && context == "inspiration"}

    <CommentForm specimenId={specimenId} specimenType={context} />

  {:else}

    <div class="_spaced-med _text-center"><a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}">Register</a> or <a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}">login</a> to comment</div>

  {/if}

</div>

<style>
  .notification-switch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notification-switch > * {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .notification-switch button {
    display: inline-block;
    font-size: 0;
  }
  .toggle.-active .switch {
    transform: translateX(13px);
    fill: #fff;
    transition: fill .2s linear;
  }
  .toggle.-active .bg {
    fill: #000;
    transition: fill .2s linear;
  }
</style>

<script>
  import CommentForm from './CommentForm.svelte';
  import SuggestionForm from './SuggestionForm.svelte';
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();
  export let activeTab = "comment",
            user = globalUser,
            specimenId = pageId,
            context = page === "specimen" ? "specimens" : "inspiration",
            specimenData = globalData,
            subscribers = specimenData.subscribers ? specimenData.subscribers : false,
            returnToUrl,
            userIsSubscribed = user != "" && subscribers && specimenData.subscribers.indexOf(user) != -1 ? true : false;

  function switchTab(e) {
    if(e.target.classList.contains('-active'))
      return;
    if (activeTab == "comment") {
      activeTab = "suggestion";
    } else {
      activeTab = "comment";
    }
  }

  function handleSubscribe(user, subscribe) {
    if (!user) {

      dispatch('fireLightbox', `<div class="ui-heading -h3">Sign up for notifications</div><a href="/register?referrer=${returnToUrl}">Register</a> or <a href="/login?referrer=${returnToUrl}">login</a> to add specimens, comments and suggestions.`);

    } else {

      const xhr = new XMLHttpRequest();

      xhr.open('POST', `/${page == 'specimen' ? 'specimen' : 'feature'}/toggleSubscriber`);

      // TODO This handling of terminology needs to be cleaned up
      let params = `specimen=${specimenId}&user=${user}&subscribed=${userIsSubscribed}`;

      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send(params);

      xhr.onload = () => {
        userIsSubscribed = !userIsSubscribed;
        let message = userIsSubscribed ? 'user is subscribed' : 'user is unsubscribed'
      }
    }
  }

</script>
