<div class="ui-tabs {data.feature ? '-feature' : ''} _spaced-t-med">
  {#each data.links as link}
    <a href="{link.url}" class="ui-button -outline {link.active ? '-active' : ''}">{link.label}</a>
  {/each}
</div>

<script>
  export let data;
</script>