<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let lightboxIsActive = false,
    lightboxContent;

  function toggleLightbox() {
    dispatch("fireLightbox");
  }
</script>

{#if lightboxIsActive}
  <div class="ui-lightbox" on:click={toggleLightbox}>
    <div class="panel">
      {@html lightboxContent}
    </div>
  </div>
{/if}
