<div class="_padded-t-med">
  <div class="ui-header container">
    <div class="bar">
      <div class="logo"><a href="/"><img src="/images/logo-header.svg" width="200" height="49"></a></div>
      <div class="icon">
        <button on:click="{toggleMenu}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
        </button>
      </div>
    </div>
    <ul class="ui-nav -align-end -dark -hidden" id="main-nav">
      <li><a href="/submission">Upload Specimen</a></li>
      <li><a href="/about">About Typereel</a></li>
      <li><a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}">Login</a></li>
      <li><a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}" class="ui-button -small">Register</a></li>
    </ul>
  </div>
</div>

<script>

  export let returnToUrl;

  function toggleMenu() {
    const nav = document.querySelector('#main-nav');
    nav.classList.toggle('-hidden');
  }

</script>

<style>
  .logo a, .logo img {
    display: block;
  }
</style>