<script>
  import { onMount } from "svelte";
  import Specimen from "./Specimen.svelte";
  export let reelData, page;
  let numColumns = 1;
  let reel;

  var screenIsXLarge = window.matchMedia("(min-width: 1200px)");
  var screenIsLarge = window.matchMedia(
    "(min-width: 760px) and (max-width: 1199px)"
  );
  var screenIsMedium = window.matchMedia(
    "(min-width: 500px) and (max-width: 759px)"
  );
  widthChange();
  screenIsXLarge.addListener(widthChange);
  screenIsLarge.addListener(widthChange);
  screenIsMedium.addListener(widthChange);

  function widthChange() {
    if (screenIsXLarge.matches) {
      numColumns = 5;
    } else if (screenIsLarge.matches) {
      numColumns = 4;
    } else if (screenIsMedium.matches) {
      numColumns = 3;
    } else {
      numColumns = 1;
    }
    reelInit(reel);
  }

  onMount(async () => {
    reel = document.getElementById("reel");
    reelInit(reel);
  });

  async function reelInit(reel) {
    if (!reel) {
      return;
    }

    reel.innerHTML = "";

    for (let i = 0; i < numColumns; i++) {
      let column = document.createElement("div");
      let columnInner = document.createElement("div");

      column.className = "column";
      columnInner.className = "column_inner";
      columnInner.style.minHeight = `${i * 5}px`;

      column.appendChild(columnInner);
      reel.appendChild(column);
    }

    const targetPage = page == "reel" ? "specimen" : "feature";
    const reel_columns = document.querySelectorAll(".column_inner");

    for (let i = 0; i < reelData.length; i++) {
      let specimenEl = document.createElement("div"),
        specimenLink = document.createElement("a"),
        specimenImg = new Image();

      specimenEl.className = "specimen";
      specimenLink.className = "image-link";
      specimenLink.href = `/${targetPage}/${reelData[i]._id}`;
      specimenImg.className = "specimen-image";
      specimenImg.id = `specimen${i}`;
      // debugger;

      // Set specimen status
      if (reelData[i].name) {
        reelData[i].status = "identified";
      } else {
        if (reelData[i].comments && reelData[i].comments.length) {
          for (var comment of reelData[i].comments) {
            if (comment.type == "similar" || comment.type == "match") {
              reelData[i].status = "suggestions";
              break;
            }
          }
        }
      }

      const load = url =>
        new Promise(resolve => {
          specimenImg.onload = () =>
            resolve({
              url,
              ratio: specimenImg.naturalWidth / specimenImg.naturalHeight
            });
          specimenImg.src = url;
        });

      const { url, ratio } = await load(
        `https://res.cloudinary.com/typereel/image/upload/f_auto,q_70,w_828/${reelData[i].image.src}`
      );

      if (targetPage == "specimen") {
        var specimen = new Specimen({
          target: specimenEl,
          props: {
            specimenData: reelData[i]
          }
        });
      }

      specimenLink.appendChild(specimenImg);
      specimenEl.insertBefore(specimenLink, specimenEl.childNodes[0]);
      reel_columns[getShortestColumn()].appendChild(specimenEl);

      // TODO Review this - there's probably a better
      // way of doing this
      fadeInImage(specimenEl);
    }
  }

  function getShortestColumn() {
    const reel_columns = document.querySelectorAll(".column_inner");
    let lowestIndex = 0;
    for (let i = 1; i < reel_columns.length; i++) {
      if (reel_columns[i].clientHeight < reel_columns[lowestIndex].clientHeight)
        lowestIndex = i;
    }
    return lowestIndex ? lowestIndex : 0;
  }

  function fadeInImage(specimenEl) {
    setTimeout(function() {
      specimenEl.classList.add("-thisthing");
    }, 400);
  }
</script>

<style>
  .reel {
    display: grid;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 500px) {
    .reel {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 760px) {
    .reel {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .reel {
      grid-template-columns: repeat(5, 1fr);
    }
  }
</style>

<section>
  <div class="edge" />
  <div class="reel" id="reel" />
</section>
