<script>
  import { onMount } from "svelte";
  import SuggestionTags from "./SuggestionTags.svelte";
  export let data,
    pageType = page,
    imgUrl =
      "https://res.cloudinary.com/typereel/image/upload/";
  let activePath, activePathLock;

  let suggestions = data.comments.filter(comment => {
    return (
      comment.type != "comment" &&
      comment.type != "text" &&
      comment.type != "font"
    );
  });

  let hasSuggestions = suggestions.length ? true : false;

  let average_colour = data.image.average_colour ? data.image.average_colour : '#222';

  function showSvg(path) {
    if (activePathLock) return;
    activePath = path;
  }

  function hideSvg() {
    if (activePathLock) return;
    activePath = null;
  }

  function toggleActivePathLock(path) {
    if (activePathLock && path === activePath) {
      activePath = null;
      activePathLock = false;
    } else {
      activePath = path;
      activePathLock = true;
    }
  }

  function removeActivePathLock() {
    activePath = null;
    activePathLock = false;
  }

  onMount(async () => {
    let specimen = document.getElementById("hero-img");
    let specimenMask = document.getElementById("hero-mask");
    let specimenMaskTrigger = document.getElementById("mask-trigger-0");
    let specimenMaskTrigger2 = document.getElementById("mask-trigger-1");
    let specimenMaskPath = document.getElementById("mask-path");
  });

</script>

<style>
  .ui-showcase {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .showcase-pane {
    width: 100%;
    background: #eee;
  }
  @media (min-width: 500px) {
    .showcase-pane {
      width: 50%;
    }
  }

  .showcase-pane.image {
    display: flex;
    justify-content: flex-end;
    background: #ccc;
    text-align: center;
  }
  .showcase-pane.meta {
    text-align: left;
  }
  .pane {
    width: 100%;
    max-width: 600px;
  }
  .pane > .title {
    font-size: 1.8rem;
  }
  #average-color {
    transition: background-color 0.5s linear;
  }
  .item {
    margin-bottom: 1rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    cursor: pointer;
  }

</style>
<div class="ui-showcase">

  <div class="showcase-pane image" id="average-color" style="background-color:{average_colour};">

    <div class="pane _padded">

      <div id="hero-wrapper">
        {#if pageType === 'feature'}
          <svg
            id="hero-mask"
            class={activePath ? '-active' : ''}
            viewBox="0 0 {data.image.width}
            {data.image.height}"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            stroke-linejoin="round"
            stroke-miterlimit="2">
            <path id="mask-path" d={activePath} fill="#000000" />
          </svg>
        {/if}

        <img id="hero-img" srcset="{imgUrl}f_auto,q_70,w_600/{data.image.src} 600w, {imgUrl}f_auto,q_70,w_1024/{data.image.src} 900w, {imgUrl}f_auto,q_70,w_1440/{data.image.src} 1440w" src="{imgUrl}f_auto,q_70,w_600/{data.image.src}" alt={data.name} width="{data.image.width}" height="{data.image.height}" />

      </div>

    </div>

  </div>

  <div class="showcase-pane meta">
    <div class="pane _padded">
      <h1 class="title">
        {#if data.name}
          {data.name}
          {#if data.name == 'Handwritten'}Type Specimen{/if}
        {:else}Unidentified Specimen{/if}
      </h1>
      {#if pageType == 'specimen'}
        <p>Uploaded by {data.user}</p>
      {/if}
      {#if (data.credit && data.credit[0].name) || (data.credit && data.credit[0].url)}
        {#if data.credit[0].name}
          <div class="item">
            Image credit:
            {#each data.credit as credit, index}
              {index != 0 ? ', ' : ''}
              <a href={credit.url} target="_blank">{credit.name}</a>
            {/each}
          </div>
        {:else}
          <div class="item">
            <a href={data.credit[0].url} target="_blank">Image credit</a>
          </div>
        {/if}
      {/if}
      {#if data.identified && data.identified.length}
        <h3>Type in this image</h3>
        {#each data.identified as font, index}
          {#if font.versions}
            {#each font.versions as version, i}
              <div
                class="font-card _padded-min"
                on:mouseenter={() => {
                  showSvg(version.mask);
                }}
                on:mouseleave={hideSvg}>
                <div class="title">

                  <h3>
                    {font.name}
                    {#if version.class}{version.class}{/if}
                    {#if version.weight}{version.weight}{/if}
                    {#if version.style}{version.style}{/if}
                  </h3>

                  {#if pageType === 'feature'}
                    <svg
                      class="icon -regular -eye"
                      on:click={() => {
                        toggleActivePathLock(version.mask);
                      }}
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24">
                      {#if activePathLock && activePath === version.mask}
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                          d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878
                          3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392
                          0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0
                          0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                      {:else if !activePathLock && activePath === version.mask}
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                          d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427
                          9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88
                          6.608 3 12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005
                          9.005 0 0 0-17.554 0A9.005 9.005 0 0 0 12
                          19zm0-2.5a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5
                          2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                      {:else}
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path
                          d="M9.342 18.782l-1.931-.518.787-2.939a10.988 10.988 0
                          0 1-3.237-1.872l-2.153 2.154-1.415-1.415
                          2.154-2.153a10.957 10.957 0 0
                          1-2.371-5.07l1.968-.359C3.903 10.812 7.579 14 12
                          14c4.42 0 8.097-3.188 8.856-7.39l1.968.358a10.957
                          10.957 0 0 1-2.37 5.071l2.153 2.153-1.415
                          1.415-2.153-2.154a10.988 10.988 0 0 1-3.237 1.872l.787
                          2.94-1.931.517-.788-2.94a11.072 11.072 0 0 1-3.74
                          0l-.788 2.94z" />
                      {/if}
                    </svg>
                  {/if}

                </div>
                <div class="_padded-tb-min">
                  Foundry/Designer:
                  {#if data.fonts[index].url}
                    <a href="{data.fonts[index].url}" target="_blank">
                      {data.fonts[index].foundry}
                    </a>
                  {:else}
                      {data.fonts[index].foundry}
                  {/if}
                </div>
                {#if data.fonts[index].vendors && data.fonts[index].vendors.length}
                  <div class="_padded-tb-min">
                    Vendors:
                    {#each data.fonts[index].vendors as vendor, counter}
                      {#if counter != 0},{/if}
                      <a href={vendor.url} target="_blank" rel="nofollow">
                        {vendor.name}
                      </a>
                    {/each}
                  </div>
                {/if}
              </div>
            {/each}
          {:else}
            <div class="font-card _padded-min">
              <div class="title">
                <h3>{data.fonts[index].name}</h3>
              </div>
              <div class="_padded-tb-min">
                Foundry/Designer:
                {#if data.fonts[index].url}
                  <a href="{data.fonts[index].url}" target="_blank">
                    {data.fonts[index].foundry}
                  </a>
                {:else}{data.fonts[index].foundry}{/if}
              </div>
              {#if data.fonts[index].vendors && data.fonts[index].vendors.length}
                <div class="_padded-tb-min">
                  Vendors:
                  {#each data.fonts[index].vendors as vendor, counter}
                    {#if counter != 0},{/if}
                    <a href={vendor.url} target="_blank" rel="nofollow">
                      {vendor.name}
                    </a>
                  {/each}
                </div>
              {/if}
            </div>
          {/if}
        {/each}
      {/if}

      {#if data.custom && data.custom.length}
        {#each data.custom as font}
          <div
            class="font-card _padded-min"
            on:mouseenter={() => {
              showSvg(font.mask);
            }}
            on:mouseleave={hideSvg}>
            <div class="title">

              <h3>{font.name}</h3>

              {#if pageType === 'feature'}
                <svg
                  class="icon -regular -eye"
                  on:click={() => {
                    toggleActivePathLock(font.mask);
                  }}
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24">
                  {#if activePathLock && activePath === font.mask}
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88
                      10.819 9-.94 5.12-5.427 9-10.819 9-5.392
                      0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0 0
                      10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                  {:else if !activePathLock && activePath === font.mask}
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427
                      9-10.819 9-5.392 0-9.878-3.88-10.819-9C2.121 6.88 6.608 3
                      12 3zm0 16a9.005 9.005 0 0 0 8.777-7 9.005 9.005 0 0
                      0-17.554 0A9.005 9.005 0 0 0 12 19zm0-2.5a4.5 4.5 0 1 1
                      0-9 4.5 4.5 0 0 1 0 9zm0-2a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0
                      0 5z" />
                  {:else}
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M9.342 18.782l-1.931-.518.787-2.939a10.988 10.988 0 0
                      1-3.237-1.872l-2.153 2.154-1.415-1.415 2.154-2.153a10.957
                      10.957 0 0 1-2.371-5.07l1.968-.359C3.903 10.812 7.579 14
                      12 14c4.42 0 8.097-3.188 8.856-7.39l1.968.358a10.957
                      10.957 0 0 1-2.37 5.071l2.153 2.153-1.415
                      1.415-2.153-2.154a10.988 10.988 0 0 1-3.237 1.872l.787
                      2.94-1.931.517-.788-2.94a11.072 11.072 0 0 1-3.74 0l-.788
                      2.94z" />
                  {/if}
                </svg>
              {/if}

            </div>
            <div class="_padded-tb-min">
              Foundry/Designer:
              {#if font.url}
                <a href={font.url} target="_blank">{font.foundry}</a>
              {:else}{font.foundry}{/if}
            </div>
            {#if font.vendors && font.vendors.length}
              <div class="_padded-tb-min">
                Vendors:
                {#each font.vendors as vendor, i}
                  {#if i != 0},{/if}
                  <a href={vendor.url} target="_blank" rel="nofollow">
                    {vendor.name}
                  </a>
                {/each}
              </div>
            {/if}
          </div>
        {/each}
      {/if}

      <!-- List of suggestions -->
      {#if pageType == 'specimen'}
        <SuggestionTags comments={data.comments} {hasSuggestions} />
      {/if}

    </div>
  </div>

</div>
