<div id="preview" class="_spaced-t-med"></div>

<form action="/upload" method="post" enctype="multipart/form-data" autocomplete="off" class="ui-form _spaced-med" id="specimenSubmissionForm">

  <div class="form-group step {step == 1 ? '-active' : ''}">
    <h1>Upload a specimen to the reel</h1>

    <p>Currently supported formats are <strong>.jpg</strong>, <strong>.png</strong> and <strong>.gif</strong> with a max file size of <strong>5MB</strong>.</p>

    <label for="specimenFile" class="label -file" id="specimenLabel">
      Select a file...
    </label>
    <input type="file" name="specimenFile" id="specimenFile" class="input -file" on:change="{(e) => handleFileSelect(e)}">
    <div class="validation"></div>
  </div>

  <div class="form-group step {step == 2 ? '-active' : ''}">
    <div class="highlightConsent {highlightConsent ? '-active' : ''}">
      <input type="checkbox" name="consent" id="consent" class="input -checkbox" required> <label for="consent" class="_slight">I confirm that I own this image or have permission to upload it</label>
    </div>
  </div>

  <div class="ui-panel -bg _padded _spaced-min step {step == 2 ? '-active' : ''}">
    <div>If you found this image online please credit the source</div>

    <div class="form-group _spaced-min">
      <label for="creditName" class="label">Image credit name</label>
      <input type="text" name="creditName" class="input -text">
    </div>

    <div class="form-group _spaced-min">
      <label for="creditUrl" class="label">Image credit URL</label>
      <input type="text" name="creditUrl" class="input -text" placeholder="e.g. www.reddit.com/...">
    </div>

    <div>If you know details about the type in this image please add them here, otherwise leave these fields blank</div>

    <div class="form-group _spaced-min">
      <label for="name" class="label">Font name</label>
      <input type="text" name="name" class="input -text" placeholder="e.g. Helvetica Nueue">
    </div>

    <div class="form-group _spaced-min">
      <label for="reference" class="label">Reference link</label>
      <input type="text" name="reference" class="input -text" placeholder="http://">
      <div class="hint _spaced-min"><small>A reference link is the location of where the font is available online. It helps us to confirm the id of a font.</small></div>
    </div>

  </div>

  <div class="_spaced-med step {step == 2 ? '-active' : ''}">
    <button id="submissionSubmit" class="{loading ? 'loading' : ''}" on:click={submitSubmissionForm}>
      <span>Submit</span>
      <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"/><path id="spinner" d="M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z"/></svg>
    </button>
  </div>

</form>

<style>

  .step {
    display: none;
  }
  .step.-active  {
    display: block;
  }

</style>

<script>
  export let step = 1;
  export let highlightConsent;

  let loading = false;

  function handleFileSelect(e) {
    var files = e.target.files;
    var f = files[0];
    var reader = new FileReader();

    reader.onload = (function(theFile) {

      console.log(theFile.type == 'image/jpeg');

      const validationMessageContainer = document.querySelector('.validation');
      validationMessageContainer.innerText = '';

      const acceptedFileTypes = ['image/jpeg', 'image/png', 'image/gif'];

      if (!acceptedFileTypes.includes(theFile.type)) {
        validationMessageContainer.innerText = 'Please select a file that matches the supported file types.'
        return;
      }

      return function(e) {
        document.getElementById('preview').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" />'].join('');
        step = 2;
      };
    })(f);

    reader.readAsDataURL(f);
  }

  function submitSubmissionForm() {
    const consentCheckbox = document.getElementById('consent');
    if (consentCheckbox.checked) {
      loading = true;
      document.getElementById('specimenSubmissionForm').submit();
    }
  }

</script>
