<script>
  export let specimenType;
  export let specimenId;
</script>

<div class="_padded">
  <form
    action="/comments/addComment/{specimenType}/{specimenId}"
    method="post"
    enctype="application/x-www-form-urlencoded">
    <div class="form-group _spaced-b-min">
      <div>
        <input
          type="checkbox"
          name="type"
          id="hand"
          value="hand"
          on-change="toggleOptions" />
        <label for="hand" class="label">
          This specimen contains hand lettering
        </label>
      </div>
    </div>
    <div class="_spaced-med">- OR -</div>
    <div class="form-group _spaced-b-min">
      <label for="comment" class="label">Font name</label>
      <input type="text" name="comment" id="comment" />
    </div>
    <div class="form-group _spaced-min">
      <label for="url" class="label">Reference URL</label>
      <input
        type="text"
        name="url"
        id="url"
        placeholder="e.g. http://www.myfonts.com/..." />
    </div>
    <div class="_spaced-med">The likeness to this font is...</div>
    <div class="form-group _spaced-b-min">
      <div>
        <input
          type="radio"
          name="type"
          id="likeness-similar"
          value="similar"
          on-change="toggleOptions" />
        <label for="likeness-similar" class="label">Similar</label>
      </div>
    </div>
    <div class="form-group _spaced-b-min">
      <div>
        <input
          type="radio"
          name="type"
          id="likeness-exact"
          value="match"
          on-change="toggleOptions" />
        <label for="likeness-exact" class="label">Exact</label>
      </div>
    </div>
    <div class="form-group _spaced-med">
      <input type="submit" value="Submit Suggestion" class="ui-button" />
    </div>
  </form>
</div>
