<script>
  export let comments;
  export let hasSuggestions;
</script>

{#if hasSuggestions}
  <h3>Suggestions</h3>
{/if}
<div class="ui-button-list">

  {#each comments as comment}
    {#if comment.type === 'similar' || comment.type === 'match'}
      <a href={comment.url} class="ui-button -outline -small">{comment.body}</a>
    {/if}
    {#if comment.type === 'hand'}
      <div class="ui-tag -small">Hand lettering</div>
    {/if}
  {/each}

</div>
