<header class="ui-grid -three -h-center _padded _spaced-b-med">
  <div class="_spaced-m-min">
    {#if username}
      {username} (<a href="/logout">Logout</a>)
    {:else}
      <a href="/login{returnToUrl ? '?referrer=' + returnToUrl : ''}">Login</a> / <a href="/register{returnToUrl ? '?referrer=' + returnToUrl : ''}">Register</a>
    {/if}
  </div>
  <div class="_spaced-m-min">
    {#if type == "inspiration"}
      <a href="/"><img src="/images/logo-header-full.svg" alt="Typereel Logo" width="250" height="106.4"></a>
    {:else}
      <a href="/fontid"><img src="/images/logo-header-full.svg" alt="Typereel Logo" width="250" height="106.4"></a>
    {/if}
  </div>
  <div class="_spaced-m-min">
    <div class="_text-center">
      {#if submission}
        <p><em>Want to contribute?</em></p>
        <a href="/submission">Add a type specimen</a>
      {:else}
        <p class="_spaced-b-min">Want new features?</p>
        <a href="https://feedback.userreport.com/8061712f-1dd3-41b4-a798-01c14ddb3e43/#ideas/popular" class="ui-button -small -icon" target="_blank"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44 44" enable-background="0 0 44 44" class="usrp-button-icon-svg"><path fill="#FFFFFF" d="M30.1,10.9H13.9c-2.1,0-3.9,1.7-3.9,3.9v9.2c0,2.1,1.7,3.9,3.9,3.9h3.3l8.5,4.4l0-4.4h4.5     c2.1,0,3.9-1.7,3.9-3.9v-9.2C34,12.6,32.3,10.9,30.1,10.9z M25.2,13.8c1.3,0,2.3,1,2.3,2.3c0,1.3-1,2.3-2.3,2.3     c-1.3,0-2.3-1-2.3-2.3C22.9,14.9,23.9,13.8,25.2,13.8z M18.7,13.8c1.3,0,2.3,1,2.3,2.3c0,1.3-1,2.3-2.3,2.3c-1.3,0-2.3-1-2.3-2.3     C16.4,14.9,17.4,13.8,18.7,13.8z M22,25c-3.2,0-6-2.5-7.7-6.2c2.3,2,4.9,3.2,7.7,3.2c2.8,0,5.4-1.2,7.7-3.2C28,22.6,25.2,25,22,25z"></path></svg> Leave Feedback</a>
      {/if}
    </div>
  </div>
</header>

<script>
  export let username,
    returnToUrl,
    type,
    submission;
</script>
