<script>
  export let title;
</script>

<div class="ui-backed -light">
  <div class="container ui-main-hero _spaced-t-max">
    <div class="title">
      <div>
        <h1>{ title }</h1>
        <p>Typereel is a user-contributed collection of specimens documenting the use of typography both online and in the real world.</p>
        <p>We collectively contribute, appreciate and catalogue the use of type by a dedicated and talented global design community.</p>
        <div class="_spaced-t-med _spaced-b-min"><a href="/inspiration" class="ui-button -brand -small">View inspiration reel</a> <a href="/fontid" class="ui-button -outline -small">View identification reel</a></div>
      </div>
    </div>
    <div class="image">
      <img src="/images/home-reel.png" alt="A screenshot of typereel specimens" width="1151" height="773">
    </div>
  </div>
</div>