<div class="ui-list -pagination -center _spaced-max">

  {#if activePage == 2}
    <a class="ui-button -small item" href="/{type}">Previous</a>
  {:else if activePage > 1}
    <a class="ui-button -small item" href="/{type}/page/{activePage-1}">Previous</a>
  {/if}

  {#each paginationArray as page}
    <a href="/{type}/page/{page}" class="item {parseInt(page) == activePage ? '-active' : ''}">{page}</a>
  {/each}

  {#if activePage != pageLength}
    <a class="ui-button -small item" href="/{type}/page/{activePage+1}">Next</a>
  {/if}

</div>

<script>

  export let page,
             pageLength,
             activePage,
             type;

  let pageStart = (activePage - 4) <= 0 ? 1 : activePage - 4;
  let pageEnd = (activePage + 4) >= pageLength ? pageLength : activePage + 4;

  export let paginationArray = [];

  for (let i = pageStart; i < pageStart + 10; i++) {
    if (i == pageLength+1) {
      break;
    }
    paginationArray.push(i);
  }

</script>
