/* COLOURS */

:root {
  --primary: hsl(263, 100%, 50%);
  --brand: hsl(263, 100%, 50%);
  --brand-dark: hsl(263, 100%, 40%);
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "PTRootUIWeb", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Recursive";
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--primary);
}
a:focus {
  color: var(--primary);
}
a:focus {
  outline: 1px dotted var(--primary);
  outline-offset: -1px;
}
a.ui-button:focus {
  outline: 2px dotted var(--primary);
}

/* TODO tidy this up in favour of more specific classes below */
._padded {
  padding: 2rem;
}
._padded-min {
  padding: 1rem;
}
._padded-med {
  padding: 2rem;
}
._padded-max {
  padding: 4rem;
}
._padded-lr-min {
  padding-left: 1rem;
  padding-right: 1rem;
}
._padded-lr-med {
  padding-left: 2rem;
  padding-right: 2rem;
}
._padded-lr-max {
  padding-left: 4rem;
  padding-right: 4rem;
}
._padded-t-min {
  padding-top: 1rem;
}
._padded-t-med {
  padding-top: 2rem;
}
._padded-t-max {
  padding-top: 4rem;
}
._padded-tb-min {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
._padded-tb-med {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
._padded-tb-max {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

._padded-mob {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 500px) {
  ._padded-mob {
    padding-left: 0;
    padding-right: 0;
  }
}

._padded-min > h3:first-child {
  margin-top: 0;
}
._padded > h1:first-child {
  margin-top: 0;
}

/* TODO Should think about the right way to handle this */
._padded p:first-child {
  margin-top: 0;
}
._padded p:last-child {
  margin-bottom: 0;
}
._spaced-max {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
._spaced-med {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
._spaced-min {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
._spaced-t-max {
  margin-top: 4rem;
}
._spaced-t-med {
  margin-top: 2rem;
}
._spaced-t-min {
  margin-top: 1rem;
}
._spaced-b-max {
  margin-bottom: 3rem;
}
._spaced-b-med {
  margin-bottom: 1rem;
}
._spaced-b-min {
  margin-bottom: 0.5rem;
}
._spaced-tb-max {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
._spaced-tb-med {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
._spaced-tb-min {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Kinda goes against my usual practice. Potentially revise. */
@media (max-width: 500px) {
  ._spaced-m-max {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  ._spaced-m-med {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  ._spaced-m-min {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

._text-center {
  text-align: center;
}
._slight {
  font-size: 0.8rem;
}

@import "_fonts.css";
@import "_variables.css";
@import "ui-button.css";
@import "ui-form.css";

.app-header {
  background: #6300ff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  color: #fff;
}
.app-header a {
  color: #fff;
}
.header-title {
  display: inline-block;
  margin-left: 2rem;
}
.edge {
  background: transparent url(/images/edge.svg) repeat-x 0 100%;
  background-size: 20px 20px;
  position: relative;
  width: 100%;
  height: 20px;
  top: 20px;
  z-index: 1000;
}
.blue-row {
  background: #000;
  color: #fff;
  overflow: auto;
}
.grey-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f1f1f1;
}
.blue-row h1,
.blue-row h2 {
  color: #fff;
}
.blue-row .textinput {
  border: none;
}
.blue-row .button,
.blue-row button {
  background: #fff;
  color: #000;
}
.blue-row .button:hover,
.blue-row button:hover {
  background: #ddd;
}
.callout {
  text-align: center;
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}

.ui-tag {
  background: transparent;
  color: #000;
  border: 1px solid currentColor;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container.-slim {
  max-width: 800px;
}
.container.-narrow {
  max-width: 500px;
}
.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.spread {
  background: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.grid.-split {
  grid-template-columns: 1fr 1fr;
}

/* UI CONTAINER */
.ui-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* TODO rethink these class names? */
.ui-container.-med {
  max-width: 800px;
}
.ui-container.-slim {
  max-width: 500px;
}
.ui-container.-narrow {
  max-width: 350px;
}

/* UI PANEL */

.ui-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.ui-panel.-bg {
  background: #444;
  color: #fff;
}
.ui-panel.-bg a {
  color: #20e2bf;
}

/* UI GRID */

.ui-grid {
  display: grid;
}

@media (min-width: 500px) {
  .ui-grid.-three {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ui-grid.-h-center > * {
  display: flex;
  justify-content: center;
}

/* UI BAR */
.ui-bar {
  background: #444;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.ui-bar.-error {
  background: red;
  color: #fff;
}
.meta-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meta-bar > .icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.meta-bar > .icon.-highlight {
  fill: #20e2bf;
}
.meta-bar > .icon.-warning {
  fill: #ec6767;
}
.meta-bar > .icon.-notify {
  fill: #e2cf52;
}

/* UI COMMENT */
.comment {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.comment.-similar,
.comment.-match {
  background: #eee;
  border: none;
}
.comment.-font {
  background: #222;
  border: none;
  border-left: 30px solid #20e2bf;
  color: #fff;
}
.comment.-font a {
  color: #20e2bf;
}
.comment > .user {
  font-weight: bold;
}

.-default + .-default {
  border-top: none;
}

/* UI TABS */
.ui-tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.ui-tabs > .ui-button {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0;
}
.ui-tabs > .ui-button.-active {
  border-radius: 0;
  background: #000;
  color: #fff;
  &.-outline {
    border-color: #000;
  }
  &:hover {
    background: #000;
  }
}

.ui-tabs.-feature > .ui-button.-active {
  background: #6300ff;
  border: 1px solid #6300ff;
  color: #fff;
  &:hover {
    background: #4e00ca;
    border: 1px solid #4e00ca;
  }
}
.ui-tabs > .ui-button:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.ui-tabs > .ui-button:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.tab-section {
  display: none;
}
.tab-section.-active {
  display: block;
}

.image-link {
  text-align: center;
}
.image-link,
.image-link > img {
  display: block;
}

.ui-list {
  display: flex;
}
.ui-list.-center {
  justify-content: center;
}
.ui-list > .item + .item {
  margin-left: 1rem;
}
.ui-list.-pagination > .item {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.ui-list.-pagination > .item.-active {
  background: #6300ff;
  color: #fff;
  text-decoration: none;
}

.font-card {
  background: #fff;
  border-radius: 5px;
  transition: transform 0.1s linear;
}
.font-card:hover {
  transform: translateX(-3px);
}
.font-card + .font-card {
  margin-top: 1rem;
}
.font-card > div {
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
}
.font-card > div:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.title > h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

/* Reel */
/* TODO This needs to be made generic */
.specimen {
  opacity: 0;
  transition: opacity 0.4s linear;
}
.specimen.-thisthing {
  opacity: 1;
}

/* SVG MASK */
#hero-wrapper {
  position: relative;
  max-width: 500px;
  height: 100%;
}
#hero-mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
  /* mix-blend-mode: multiply; */
}
#hero-mask.-active {
  opacity: 0.5;
}

[id^="mask-trigger-"] {
  cursor: pointer;
  transition: transform 0.1s linear;
}
[id^="mask-trigger-"]:hover {
  transform: translateX(-10px);
}

.ui-heading.-h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.ui-heading.-h3:first-child {
  margin-top: 0;
}

.ui-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-lightbox .panel {
  max-width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem;
}

#submissionSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
}
#submissionSubmit svg {
  display: none;
}
#submissionSubmit.loading svg {
  display: inline-block;
}

@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#submissionSubmit.loading svg #spinner {
  animation: 0.5s linear infinite both loading-animation;
  transform-origin: 50% 50%;
}

#submissionSubmit.loading span {
  display: inline-block;
  margin-right: 10px;
}

.admin-bar {
  background: #6300ff;
  color: #fff;
  padding: 0.5rem;
}

/* UI HEADER */

.ui-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "menuBar"
    "menuNav";
}
#main-nav {
  &.-hidden {
    display: none;
  }
  @media (min-width: 700px) {
    &.-hidden {
      display: flex;
    }
  }
}

.ui-header.-active .ui-nav {
  display: flex;
  flex-direction: column;
}

.ui-header .bar {
  grid-area: menuBar;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ui-header .icon {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.ui-header.-active .icon {
  background-color: #000;
}

@media (min-width: 700px) {
  .ui-header .icon {
    display: none;
  }
  .ui-header.-active .icon {
    display: none;
  }
}

.ui-header .icon svg {
  fill: #fff;
}

.ui-header .ui-nav {
  grid-area: menuNav;
  padding-left: 0;
}

.ui-header .ui-nav li {
  width: 100%;
}
.ui-header .ui-nav a {
  display: block;
  padding: 1rem;
  color: #fff;
}

/* UI NAV */

.ui-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.ui-header .ui-nav {
  /* display: none; */
}

.ui-header > .bar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ui-header .ui-nav .ui-button {
  border-radius: 0;
  text-align: left;
  @media (min-width: 700px) {
    text-align: center;
  }
}

.ui-header.-active .ui-nav {
  /* display: flex; */
}

@media (min-width: 700px) {
  .ui-header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menuBar menuNav";
  }
  .ui-header .ui-nav a:not(.ui-button) {
    color: var(--primary);
  }
  .ui-header .ui-nav {
    background-color: transparent;
    flex-direction: row;
  }
  .ui-header .ui-nav .ui-button {
    border-radius: 5px;
  }
  .ui-header .ui-nav li {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .ui-nav.-align-end {
    justify-content: flex-end;
  }
  .ui-header .ui-nav a {
    padding: 0;
  }
  .ui-header .ui-nav a.ui-button {
    padding: 0.5rem 1rem;
  }
  .ui-header .ui-nav a:not(.ui-button) {
    display: inline-block;
  }
  .ui-header > .bar {
    padding-left: 0;
    padding-right: 0;
  }
}

/* UI HERO */

.ui-main-hero {
  display: grid;
  grid-gap: 4rem;
}

@media (min-width: 700px) {
  .ui-main-hero {
    grid-template-columns: 1fr 1fr;
  }
}

.ui-main-hero h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  margin-top: 0;
}

.ui-main-hero > .title {
  display: flex;
  align-items: center;
}

/* UI BACKED */

.ui-backed {
  overflow: auto;
}
.ui-backed.-dark {
  background-color: #333;
  color: #fff;
}
.ui-backed.-light {
  background-color: #f9f9f9;
}
.ui-hero-plus-nav {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ui-hero-plus-nav > .footer {
  margin-top: auto;
}

/* UI POINTER */

.ui-pointer {
  background: none;
  color: #000;
  display: flex;
  flex-direction: column;
}
.ui-pointer:hover {
  background: none;
  text-decoration: underline;
  color: var(--brand);
}
.ui-pointer:hover .icon svg {
  fill: var(--brand);
}
